<h1>Welcome to Althea's Dummy App</h1>
<p style="font-family:monospace;">
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░%%+░░░░░░░░░░░░░░░░░░░░==░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░:$XXXXX+░░░░░░░░░░░░░░░░░░:=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░;XX;;;;+X+░░░░░░░░░░░░░░░░:=░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░XX;;;;;++X░░░░░░░░░░░░░░░::░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░:/+%%%$%/:░░░%X;;;;;;++X+░░░░░░░░░░░░░░:=░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░/%XXXXX$$$$XXXX%H$;;;;;;++$$░░░░░░░░░░░░░::░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░;%XX$+;;;;;;;;;;/$XXX%;;;;;;++X░░░░░░░░░░░░░:=░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░$XX+;;;;;;;;;;;;;/$X;$XX%;;;;+/H;░░░░░░░░░░░-=░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░;;;░░░░░░░░+X$;;;;;;;;;;$$;;;;/:-X;;+XX;;;+/H;░░░░░░░░░░=,-░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░:%XXXXX$+░░░░XX+;;;;;;;;;;;$.$;;;;X.X$;;;$X+;+/H;░░░░░░░░░░,-░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░XX/;;;/$XX++X$;;;;;;;;;;;;;$./$;;;$XXH/;;;+X$+/H;░░░░░░░░░..░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░%X;;;;;;;;$XXX;;;;;;;;;;;;;/+X$X+;;;XXHX;;;;;XX%X░░░░░░░░░-.░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X+;;;;;;;;;;XX+;;;;;;;;;;;;;;HHHH;;;/XHX;;;;;/HHH░░░░░░░░-.-░░░░░░░░░░░=░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X/+;;;;;;;;;;+;;;;;;;;;;;;;;/+HHH+;;;$XX+;;;;;/HH░░░░░░░░..░░░░░░░░░░;:░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X/+;;;;;;;;;;;;;;;;;;;;;;;;;;;HHH$;;;;/$;;;;;;;/H+░░░░░░.-░░░░░░░░░░/:░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X/++;;;;;;;;;;;;;;;;;;;;;;;;;;;HH$;;;;;;;;;;;;;;+X;░░░░.-░░░░░░░░░:::░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X/++;;;;;;;;;;;;;;;;;;;;;;///;;;/;;;;;;%XXX%;;;;;XX░░░.-░░░░░░░░░=-=░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░X$;++;;;;;;;;;;;;;;;;;;;;;;//;;;;;;;;%XHHHHHX;;;;;H+░,░░░░░░░░░░=-=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░+X;++;++;;;;;;;;;;;;;;;;;;;;;;;;;;;;$HHHHHHHH$;;;;+X░░░░░░░░░░..,░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░:X/++++;;;;;;;;;;;;;;;;;;;;;;;;;;;;XHHHHHHHHHX+$;;;H+░░░░░░░-.,░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░%X;+++;;;;;;;;;;;;;;;;;;;;;;;;;;;$HHHHHHHHHHHX$;;;+X░░░░░░..=░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░:X/;+++;;;;;;;;;;;;;;;;;;;;;;;;;;XHHHHHHHHHHHX%;;;;H;░░░-.,░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░%X;++++;;;;;;;;;;;;;;;;;;;;;;;;$HHHHHHHHHHHHX+;;;;$%░░-░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░X$;++++;;;;;;;;;;;;;;;;;;;;;;;XHHHHHHHHHHHHX;;;;;+X░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░/X/;++++;;;;;;;;;;;;;;;;;;X$;;XHHHHHHHHHHHHX;;;;;;H░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░XX/;++++;;;;;;;;;;;;;;;;;;X+$HHHHHHHHHHHHHX+;;;;;H;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░XXX/;++++;;;;;;;;;;;;;;;;;;HXHHHHHHHHHHHHHX+;;;;;X/░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░/X/XX/;++;;;;;;;;;;;;;;;;;;;$XHHHHHHHHHHHHHH+;;;;;$%░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░/X;;XX/;;;;;;;;;;;;;;;;;;;;;;XHHHHHHHHHHHHHH%;;;;;$$░░░░░---...,,,---;=░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░+X;;/%/;;;;;;;;;;;;;;;;;;;;;;+XHHHHHHHHHHHHH%;;;;;$$░░░░░░░░░░░░░░░░::,-=░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░+X;;//////////////////////////XHHHHHHHHHHHHH$;;;;;+X░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░+X;;//////////////////////////XHHHHHHHHHHHHHH;;;;;+X░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░+X;;//////////////////////////+XHHHHHHHHHHHHH+;;;;$X░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░/X;;;//////////////////////////XXXXXXXXHHHHHH%;;;;$X░░░,,,░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░:X;;///////////////////////////X%+++++++%XHHH$;;;;XX░░░░,,░,░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░X+////////////////////////////X%+++++++++%XHH%;;;XXX;░░░░,,░,░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░X$////////////////////////////X%+++++++++++%XH;;/XXXH%░░░░░,░,=░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░+X;;//////////////////////////$%++++++++++++%XX;+XHHHXX░░░░░,,,,░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░/X;///////////////////////////$X++++++++++++%X;;XHHHHHX+░░░░░░---=,░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░X+;//////////////////////////$%++++++++++++%X;;XHHHHHHX;░░░░░░░--,░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░+X;//////////////////////////$X%+++++++++++%X;+XHHHHHHX+░░░░░░░░░::░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░/X/;/////////////////////////X$X+++++++++++%+;XHHHHHHHH%░░░░░░░░░░-:░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░$X//%///////////////////////X/$X++++++++++X;+XHHHHHHHX%░░░░░░░░░░░░:░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░/X/;%%//////////////////////H//%X%+++++++X+;XHHHHHHHHX;░░░░░░░░░░░░░-░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░$X//%//////////////////////X////XXX++%XH+;%HXXXXXXHX%░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░;X$;%%/%//////////////////////////+XX%++//HXHXXXHHX%░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░/X/;/%%/%////////////////////////+++++//HHXHHHXH$;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░XX/;/%%/%/////////////////////////////XXXXXX%/░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░%XX///%%/%%//////////////////////////XHX/░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░$XXX///%%%/%%/////////////////+++///XH/░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░XXHHX/;//%%%/%%%/%%%/%%%/%%%/%%%///HX░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░;XHHHHH$;//%%%%%%%%%%%%%%%%%%%%///%X$░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░%XHXXXHXX/;///%%%%%%%%%%%%%%%////XH/░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░XHHXXXXXHHX/;//////////////////$X$░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░XHXXXXXXXXHHX$/;////////////+XH$;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░;XHXXXXXXXXXXHHXHX$%+++++$XHH$+░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░+XHXXXXXXXXXHHHHHXHXXXXXX$+;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░+XHXXXXXXXXHHHHHHX+░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░+XXXXXXXXXHHHHHHH;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░:XXXXXXXHHHHHHHH;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░HHXXHHHHHHHHHH;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░+XHHHHHHHHHHX░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░$XHXXXHHHX+░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░%XXXXXX+░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
░░░░░░░░░░░░░░░░░░░░░░░░░:;;░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░<br/>
</p>
